configuration {
  modi: [ window, run, ssh, drun ];
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
  dpi: 1;
}

 
/* Insert theme modifications after this */
@theme "/usr/share/rofi/themes/android_notification.rasi"
